# Author: 可莉🅥
# GitLab: https://gitlab.com/lodepuly/vpn_tool/-/tree/main/tool/Loon
# 引用地址 https://support.apple.com/en-us/HT210060
# 设备管理 - 已在 MDM 中注册的 Apple 设备需要访问以下主机和域。

HOST-SUFFIX, push.apple.com, direct
HOST, deviceenrollment.apple.com, direct
HOST, deviceservices-external.apple.com, direct
HOST, gdmf.apple.com, direct
HOST, identity.apple.com, direct
HOST, iprofiles.apple.com, direct
HOST, mdmenrollment.apple.com, direct
HOST, setup.icloud.com, direct
HOST, vpp.itunes.apple.com, direct