# Author: 可莉🅥
# GitLab: https://gitlab.com/lodepuly/vpn_tool/-/tree/main/tool/Loon
# 引用地址 https://support.apple.com/en-us/HT210060
# Apple ID - Apple 设备必须能够连接到以下主机才能验证 Apple ID。所有使用 Apple ID 的服务（如 iCloud、App 安装和 Xcode）都需要满足这个条件。

HOST, appleid.apple.com, direct
HOST, appleid.cdn-apple.com, direct
HOST, idmsa.apple.com, direct
HOST, gsa.apple.com, direct