# Author: 可莉🅥
# GitLab: https://gitlab.com/lodepuly/vpn_tool/-/tree/main/tool/Loon
# 引用地址 https://support.apple.com/en-us/HT210060
# Apple 推送通知 - 当使用 Apple 推送通知服务 (APNS) 时，Apple 设备需要访问以下主机。

HOST-SUFFIX, push.apple.com, direct
HOST, identity.apple.com, direct
IP-CIDR, 17.249.0.0/16, direct
IP-CIDR, 17.252.0.0/16, direct
IP-CIDR, 17.57.144.0/22, direct
IP-CIDR, 17.188.128.0/18, direct
IP-CIDR, 17.188.20.0/23, direct
IP6-CIDR, 2620:149:a44::/48, direct
IP6-CIDR, 2403:300:a42::/48, direct
IP6-CIDR, 2403:300:a51::/48, direct
IP6-CIDR, 2a01:b740:a42::/48, direct