# Author: 可莉🅥
# GitLab: https://gitlab.com/lodepuly/vpn_tool/-/tree/main/tool/Loon
# 引用地址 https://support.apple.com/en-us/HT210060
# 软件更新 - 在安装、恢复和更新 iOS、iPadOS、macOS、watchOS 及 Apple tvOS 时，Apple 设备需要访问以下主机。

HOST, appldnld.apple.com, direct
HOST, configuration.apple.com, direct
HOST, gdmf.apple.com, direct
HOST, gg.apple.com, direct
HOST, gs.apple.com, direct
HOST, ig.apple.com, direct
HOST, mesu.apple.com, direct
HOST, ns.itunes.apple.com
HOST, oscdn.apple.com, direct
HOST, osrecovery.apple.com, direct
HOST, skl.apple.com, direct
HOST, swcdn.apple.com, direct
HOST, swdist.apple.com, direct
HOST, swdownload.apple.com, direct
HOST, swscan.apple.com, direct
HOST, updates-http.cdn-apple.com, direct
HOST, updates.cdn-apple.com, direct
HOST, xp.apple.com, direct