# Author: 可莉🅥
# GitLab: https://gitlab.com/lodepuly/vpn_tool/-/tree/main/tool/Loon
# 引用地址 https://support.apple.com/en-us/HT210060
# 设备设置 - 在设置期间或者在安装、更新或恢复操作系统时，Apple 设备需要访问以下主机。

HOST, albert.apple.com, direct
HOST, captive.apple.com, direct
HOST, gs.apple.com, direct
HOST, humb.apple.com, direct
HOST, static.ips.apple.com, direct
HOST, sq-device.apple.com, direct
HOST, tbsc.apple.com, direct
HOST, time-ios.apple.com, direct
HOST, time.apple.com, direct
HOST, time-macos.apple.com, direct