# Author: 可莉🅥
# GitLab: https://gitlab.com/lodepuly/vpn_tool/-/tree/main/tool/Loon
# 引用地址 https://support.apple.com/en-us/HT210060
# App Store - Apple 设备需要访问以下主机和域，才能安装和更新 App。

HOST-SUFFIX, itunes.apple.com, direct
HOST-SUFFIX, apps.apple.com, direct
HOST-SUFFIX, mzstatic.com, direct
HOST, itunes.apple.com, direct
HOST, ppq.apple.com, direct