# NAME: Proxy
# AUTHOR: ArriettyQAQ
# GITHUB: https://github.com/ArriettyQAQ/networktools
# UPDATED: 2021-01-13 20:07:00
# HOST-SUFFIX: 1
# TOTAL: 0
HOST-SUFFIX,ibm.com,Correct
HOST-SUFFIX,plex.tv,Correct
HOST,relay.firefox.com,Correct
