#!name = 百度网盘去广告
#!desc = 过滤百度网盘广告
#!openUrl = 
#!author = RuCu6
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

#[rewrite_local]
^https?:\/\/pan\.baidu\.com\/(act\/(api\/activityentry|v2\/(bchannel|welfare)\/list)|rest\/2\.0\/pcs\/ad) url reject

#[mitm]
hostname = pan.baidu.com