#!name = Documents解锁
#!desc = 点击恢复购买即可解锁订阅
#!openUrl = 
#!author = 彭于晏
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

#[rewrite_local]
^https:\/\/license\.pdfexpert\.com\/api\/2\.0\/documents\/subscription\/refresh url script-request-body https://gitlab.com/lodepuly/vpn_tool/-/raw/main/Resource/Script/Documents/Documents_crack.js

#[mitm]
hostname = license.pdfexpert.com