#!name = Google搜索重定向
#!desc = 将Google搜索重定向至.com域名，如遇频繁跳转请禁用本插件。
#!openUrl = 
#!author = 可莉🅥
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

#[rewrite_local]
^https?:\/\/(www.)?(g|google)\.(cn|com\.hk) url 302 https://www.google.com

#[mitm]
hostname = *.google.cn, *.google.com.hk