#!name = HappyDays解锁
#!desc = 点击恢复购买即可解锁
#!openUrl = 
#!author = 可莉🅥
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

#[rewrite_local]
^https?:\/\/api\.revenuecat\.com\/v1\/(receipts|subscribers)\/* url script-request-body https://gitlab.com/lodepuly/vpn_tool/-/raw/main/Resource/Script/HappyDays/HappyDays_crack.js

#[mitm]
hostname = api.revenuecat.com