#!name = 京东比价
#!desc = 在京东应用内嵌入比价信息，点击商品标题即可查看。
#!openUrl = 
#!author = zwf234
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

#[rewrite_local]
^https?://api\.m\.jd\.com/(client\.action|api)\?functionId=(wareBusiness|serverConfig|basicConfig|lite_wareBusiness|pingou_item) url script-response-body https://raw.githubusercontent.com/zwf234/rules/master/js/jd_price.js
  
#[mitm]
hostname = api.m.jd.com