#!name = TikTok美区解锁
#!desc = 解锁美区TikTok，需要配置此插件至美国节点。
#!openUrl = 
#!author = 可莉🅥
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

#[rewrite_local]
(?<=&mcc_mnc=)4 url 307 2
(?<=_region=)CN(?=&) url 307 US
(^https?:\/\/*\.\w{4}okv.com\/.+&.+)(\d{2}\.3\.\d)(.+) url 302 $118.0$3
^(https?:\/\/(tnc|dm)[\w-]+\.\w+\.com\/.+)(\?)(.+) url 302 $1$3

#[mitm]
hostname = *.byteoversea.com,*.tik-tokapi.com,*.tiktokv.com