#!name = Xmind解锁
#!desc = 点击恢复购买即可解锁订阅
#!openUrl = 
#!author = I-am-R-E
#!homepage = https://gitlab.com/lodepuly/vpn_tool/-/tree/main/Tool/QuantumultX/Rewrite

#[rewrite_local]
^https?:\/\/www\.xmind\.(cn|net|app)\/\_res\/devices url script-request-body https://gitlab.com/lodepuly/vpn_tool/-/raw/main/Resource/Script/Xmind/Xmind_crack.js
  
#[mitm]
hostname = www.xmind.cn, www.xmind.net, www.xmind.app